<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create a Post</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<form th:action="@{/posts/create}" th:method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" rows="3" name="body"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>