<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('View Post')">
    <meta charset="UTF-8">
    <title>Show Single Post</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
        <h2>The post you selected: </h2>
    <div th:if="${post}">
        <h2 th:text="${post.getTitle()}"></h2>
        <p th:text="${post.getBody()}"></p>
        <p th:text="${post.user.email}"></p>
        <div th:if="${isPostOwner}">
            <form th:action="@{/posts/{id}/delete(id = ${post.id})}" method="post" th:object="${post}">
                <button class="card-link" type="submit" th:value="*{id}" name="deletePost">Delete</button>

            </form>
            <form th:action="@{/posts/{id}/edit(id = ${post.id})}" method="get" th:object="${post}">
                <button class="card-link" type="submit" th:value="*{id}" name="editPost">Edit</button>
            </form>
        </div>

    </div>

<!--    <div class="card" style="width: 18rem;">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title" th:text="${post.title()}">Card title</h4>-->
<!--            <p class="card-text" th:text="${post.body()}">Quick example to build on the card title-->
<!--                and make up the bulk of card's content</p>-->
<!--        </div>-->
<!--        <h4>You can email this user : <span th:text="${post.getUser().getEmail()}"></span></h4>-->
<!--    </div>-->
<!--    <nav th:replace="partials/navbar :: navbar"></nav>-->
<!--    <h1> Hey there!!</h1>-->


<!--    <div>-->
<!--        <div th:th:text="${postId}">Id</div>-->
<!--        <div th:th:text="${postTitle}">Title</div>-->
<!--        <div th:th:text="${postBody}">Body</div>-->
<!--    </div>-->

<!--<footer th:replace="partials/footer :: footer"></footer>-->

    <th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>