<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:fragment="partials/head :: head('View Posts')">

    <meta charset="UTF-8">

    <title>Show</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<!--<div class="card" style="width: 18rem;">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title" th:text="${singlePost.getTitle()}">Card title</h5>-->
<!--        <p class="card-text" th:text="${singlePost.getBody()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    </div>-->
<!--    <h5>You can email this user at: <span th:text="${singlePost.getUser().getEmail()}"></span></h5>-->
<!--</div>-->
    <div>
        <div th:th:text="${postId}">Id</div>
        <div th:th:text="${postTitle}">Title</div>
        <div th:th:text="${postBody}">Body</div>
    </div>

<footer th:replace="partials/footer :: footer"></footer>

    <th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>