<!DOCTYPE html>

<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Library</title>
</head>
<body>
<ul>
    <li th:each="book : ${allBooks}" th:text="${book.getTitle()}"></li>
</ul>
</body>
</html>
<!--//use books_db;-->
<!--//-->
<!--//insert into books (id, title, author) values-->
<!--//                     (1, 'A Tale of Two Cities', 'Charles Dickens'),-->
<!--//                     (2, 'The Hobbit', 'R.R. Tolkien'),-->
<!--//                     (3, 'Harry Potter and the Philosophe\'s Stone', 'J.K Rowling'),-->
<!--//                     (4, 'The Little Prince', 'Antoine de Saint-Exupéry');-->